<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>URL Shortener</title>
		<style>
        	#network {
            	width: 800px;
            	height: 800px;
            	border: 1px solid #444444;
            	background-color: #222222;
        	}
    	</style>
    	<meta name="description" content="">
    	<meta name="keywords" content="">
    	<link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="css/imagehover.min.css">
    	<link rel="stylesheet" type="text/css" href="css/style.css">
    	<link rel="stylesheet" type="text/css" href="css/vis.min.css">
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
      	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>   
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>     
		  
		         
	</head>
	<body>		
	    <!--<nav>
	    	<div class="nav-wrapper cyan darken-3">	    		
	      		<a href="" class="brand-logo">
	      			<i class="material-icons prefix">short_text</i>ShortenIt!
	      		</a>      		
	    	</div>
	    </nav>  -->

	<!-- Navigation Bar -->
	<nav id="welcomeNav" class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#customerNavbar">
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
            	</button>
            	<a class="navbar-brand" style="color:blue;" href="index.html">...<span>ShortenIt</span></a>
        	</div>
    	</div>
	</nav>

	<!-- Navigation Bar -->
	<section id="feature" class="section-padding">
		<center>
			<div class="container">
				<br>
				<br>
				<br>
				<br>
				<img src="url.png"/>
				<br>
				<h2 style="color:blue;">URL Shortener App</h2>
				<br>
				<form action="urls/create", method="post">
					<div class="input-field col s6">
			          <i class="material-icons prefix">link</i>
			          <input type="text", value="", name="original_url"/>						
	        		</div>	
					<br>
					<br>			
					<button style="color: #003366; background-color: #99CCFF" class="btn green lighten-1" type="submit" name="action">Shorten 
				    	<i class="material-icons right">play_arrow</i> 
				    </button>
				</form>
			</div>
		</center>
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</section>


	<!-- Footer -->
	<footer id="complexFooter">
    	<div class="row">
        	<div class="col-lg-12 mx-auto text-center">
            	<h2 style="color:black;">
                	2019
            	</h2>
            	<ul class="list-unstyled">

                <li>
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <a href="mailto:@">dariomc_95@yahoo.es</a>
                </li>

            </ul>
            <br>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Darío Monestel C. </p>
        </div>
    </div>
</footer>
<!-- Footer -->
	<!-- Scripts -->
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Index -->
	<script src="js/index.js"></script>
	<!-- Vis -->
	<script src="js/vis.min.js"></script>
	</body>
</html>